/*#environment {
  height: 400px;
  width: 800px;
  background-color: red;

}

#player {
  height: 50px;
  width: 50px;
  background-color: blue;
}*/

.player {
  background-color: blue;
}

.exit {
  background-color: black;
}

ul {
  width: 600px;
  height: 800px;
}

li {
  width: 98px;
  height: 98px;
  float: left;
  border: 1px solid black;
  list-style-type: none;
}