body {
  font-family: 'Press Start 2P', cursive;
}

#about {
  float: left;
  width: 200px;
  height: 400px;
  border: 3px dotted black;
  margin-left: 30px;
  margin-top: 100px;
  padding: 10px;
}

#score {
 font-size: 14px;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 1em;
  padding-top: 40px;
}

h2, h3 {
  font-size: 0.8em;
}

span {
  font-size: 8px;
  padding: 5px;
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

ul {
  width: 600px;
  height: 600px;
/*  background-image: url('https://s-media-cache-ak0.pinimg.com/236x/e4/a8/1e/e4a81e06f9be9934de83e441de328ec0.jpg');
  background-size: 5%;*/
  padding: 0;
  margin: 0 auto;
}

li {
  width: 98px;
  height: 98px;
  float: left;
  border: 1px solid darkgray;
  list-style-type: none;
}

.player {
/*  background-image: url('http://www.clker.com/cliparts/3/v/I/F/6/V/light-blue-circle-md.png');
  background-size: cover;*/
background-color: steelblue;
}

/*.computer {
  background-image: url('http://orig07.deviantart.net/4f30/f/2012/141/3/6/8_bit_zombie_by_melolzugaming-d50kbqk.png');
  background-size: cover;
}*/

.obstacle {
  background: gray;
}

li:first-child {
  background-color: black;
}

.computer-right {
  background-image: url('https://cdn1.iconfinder.com/data/icons/general-9/500/left_arrow-128.png');
  background-size: cover;
  -webkit-transform: rotate(180deg);
}

.computer-left {
  background-image: url('https://cdn1.iconfinder.com/data/icons/general-9/500/left_arrow-128.png');
  background-size: cover;
}

.computer-up {
  background-image: url('https://cdn1.iconfinder.com/data/icons/general-9/500/left_arrow-128.png');
  background-size: cover;
  -webkit-transform: rotate(90deg);
}

.computer-down {
 background-image: url('https://cdn1.iconfinder.com/data/icons/general-9/500/left_arrow-128.png');
 background-size: cover;
 -webkit-transform: rotate(270deg);
}


@media only screen and (max-width: 960px) {
  ul {
    width: 500px;
    height: 500px;
  }

  li {
    width: 81.1px;
    height: 81.1px;
  }
}

@media only screen and (max-width: 640px) {

  ul {
    width: 400px;
    height: 400px;
  }

  li {
    width: 64.2px;
    height: 64.2px;
  }
}
