ul {
  width: 600px;
  height: 800px;
/*  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/e8/85/0a/e8850a26cdef4cb4352801a4f9de7445.jpg');
  background-size: contain;
  background-size: 10%;*/
}

li {
  width: 98px;
  height: 98px;
  float: left;
  border: 1px solid darkgray;
  list-style-type: none;
}

.player {
  background-image: url('http://orig08.deviantart.net/f8ee/f/2012/065/d/0/farengar_sprite_by_valdrec-d4rz8rs.png');
  background-size: cover;
}

.zombie {
  background-image: url('http://orig07.deviantart.net/4f30/f/2012/141/3/6/8_bit_zombie_by_melolzugaming-d50kbqk.png');
  background-size: cover;
}

.boulder {
  background-image: url('http://www.zeldadungeon.net/wiki/images/f/f6/TMC_Boulder.png');
  background-size: cover;
}


.exit {
  background-image: none;
  background-color: black;
}